@model IEnumerable<LoanManager.Models.Asset>

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Description).Titled("Description").Filterable(true);
    columns.Add(c => c.RegistrationNo).Titled("RegistrationNo").Filterable(true);
    columns.Add(c => c.LogBookId).Titled("LogBook").Filterable(true);
    columns.Add(c => c.Value).Titled("Value").Format("{0:C0}").Filterable(true);
    columns.Add(c => c.Borrower.Fullname).Titled("Owner").Filterable(true)
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(c => new HtmlString(Html.ActionLink(c.Borrower.Fullname, "Details", "Borrowers", new { id = c.BorrowerId}, null).ToString()));
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = o.Id }).ToString() + " | " +
                                    Html.ActionLink("Details", "Details", new { id = o.Id }).ToString() + " | " +
                                    Html.ActionLink("Delete", "Delete", new { id = o.Id }).ToString()));

}).WithPaging(10).Sortable(true)
</div>